#kanban-logo {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


.header-section {
    display: flex;
    flex-direction: row;
}

header, footer{
    background-color: #000814;
    height: 5vh;
    padding: 30px;
}

header div, footer div {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header div button {
    position: absolute;
    top: 0;
    left: 0;
}

header div img{
    padding-right: 10px;
}

header h1 {
    color: #BB86FC;
    text-transform: uppercase;
}

header p {
    color: white;
}

.add-task {
    background-color: #293241;
    width: 25%;
}

.add-task-btn {
    background-color: #BB86FC;
    box-shadow: 0 0 10px #BB86FC;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 1.25em 2em 1.25em 2em;
}

.add-task-btn:hover {
    background-color: #A26DE3;
    color: white;
    box-shadow: 0 0 10px #A26DE3;
    cursor: pointer;
}