#kanban-logo {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


.header-section {
    display: flex;
    flex-direction: row;
}

header, footer{
    background-color: #000814;
    height: 5vh;
    padding: 30px;
}

header div, footer div {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header div button {
    position: absolute;
    top: 0;
    left: 0;
}

header div img{
    padding-right: 10px;
}

header h1 {
    color: #BB86FC;
    text-transform: uppercase;
}

header p {
    color: white;
}
